.child {
  	width: 32px;
  	position: relative;
  	height: 32px;
}
.item {
  	width: 70.7px;
  	position: relative;
  	height: 16px;
}
.div {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 8px;
}
.logo {
  	overflow: hidden;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	z-index: 0;
}
.label {
  	position: relative;
  	line-height: 20px;
  	font-weight: 500;
}
.chevron-down-icon {
  	width: 20px;
  	position: relative;
  	height: 20px;
  	overflow: hidden;
  	flex-shrink: 0;
  	object-fit: cover;
}
.assetsdropdowndropdown-base {
  	border-radius: 999px;
  	background-color: #fff;
  	border: 1px solid #c9cdd2;
  	overflow: hidden;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 10px 14px 10px 18px;
  	gap: 8px;
}
.dropdown {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
}
.assetsbutton-groupcta-base {
  	box-shadow: 0px 1px 2px rgba(13, 16, 23, 0.06);
  	border-radius: 999px;
  	background-color: #0d1017;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 10px 20px;
  	color: #fff;
}
.button-group {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-end;
  	gap: 12px;
  	z-index: 1;
}
.navbar-links {
  	margin: 0 !important;
  	position: absolute;
  	top: 24px;
  	left: calc(50% - 168px);
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	gap: 32px;
  	z-index: 2;
  	font-size: 16px;
  	color: #45484f;
}
.container {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: space-between;
  	padding: 16px 32px;
  	position: relative;
}
.navbar-02 {
  	width: 1280px;
  	background-color: #fff;
  	border-bottom: 1px solid #e0e3e6;
  	box-sizing: border-box;
  	height: 72px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
}
.navbar {
  	width: 1440px;
  	background-color: #fff;
  	border-bottom: 1px solid #e0e3e6;
  	box-sizing: border-box;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 0px 190px;
  	z-index: 10;
  	text-align: left;
  	font-size: 14px;
  	color: #272a31;
}
.background {
  	width: 1440px;
  	position: absolute;
  	margin: 0 !important;
  	top: 0px;
  	left: 0px;
  	background-color: #f7f7f8;
  	height: 848px;
  	overflow: hidden;
  	flex-shrink: 0;
  	z-index: 0;
}
.heading {
  	width: 825px;
  	position: relative;
  	line-height: 72px;
  	font-weight: 600;
  	display: inline-block;
}
.description {
  	width: 589px;
  	position: relative;
  	font-size: 18px;
  	line-height: 28px;
  	color: #45484f;
  	display: inline-block;
}
.header {
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 16px;
}
.diamond {
  	width: 20px;
  	position: relative;
  	height: 20px;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: none;
}
.assetsbutton-groupcta-base1 {
  	width: 200px;
  	box-shadow: 0px 1px 2px rgba(19, 26, 41, 0.06);
  	border-radius: 999px;
  	background-color: #8a5bf4;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 12px 24px;
  	box-sizing: border-box;
  	gap: 10px;
}
.assetsbutton-groupcta-base2 {
  	width: 159px;
  	border-radius: 999px;
  	background-color: #fff;
  	border: 1px solid #c9cdd2;
  	box-sizing: border-box;
  	height: 48px;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: none;
}
.button-group1 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: center;
  	gap: 12px;
}
.description1 {
  	align-self: stretch;
  	position: relative;
  	font-size: 14px;
  	line-height: 20px;
  	color: #61646b;
  	text-align: center;
}
.button-group-parent {
  	width: 420px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 12px;
  	text-align: left;
  	font-size: 16px;
  	color: #fff;
}
.leading-content {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 0px 96px;
  	gap: 32px;
}
.description2 {
  	width: 768px;
  	position: relative;
  	line-height: 28px;
  	display: inline-block;
}
.content-child {
  	width: 149.9px;
  	position: relative;
  	height: 32px;
}
.pngmonster-703-icon {
  	width: 111.5px;
  	position: relative;
  	height: 32px;
  	object-fit: cover;
}
.openai-logo-icon {
  	width: 118px;
  	position: relative;
  	height: 32px;
  	overflow: hidden;
  	flex-shrink: 0;
}
.content {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	gap: 48px;
}
.container2 {
  	width: 100%;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 0px 32px;
  	box-sizing: border-box;
  	gap: 24px;
  	max-width: 1280px;
  	font-size: 18px;
  	color: #45484f;
}
.leading-content-parent {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 48px;
}
.video-icon {
  	width: 768px;
  	position: relative;
  	border-radius: 8px;
  	height: 480px;
  	overflow: hidden;
  	flex-shrink: 0;
  	object-fit: cover;
}
.trailing-content {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 0px 96px;
}
.container1 {
  	width: 100%;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 0px 32px;
  	box-sizing: border-box;
  	gap: 80px;
  	max-width: 1280px;
  	z-index: 1;
}
.hero-26 {
  	width: 1440px;
  	background-color: #fff;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 64px 0px 0px;
  	box-sizing: border-box;
  	position: relative;
}
.page-builder {
  	background-color: #fff;
  	height: 1088px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	z-index: 9;
  	font-size: 60px;
}
.heading1 {
  	align-self: stretch;
  	position: relative;
  	line-height: 44px;
  	font-weight: 600;
}
.heading-and-subheading {
  	width: 100%;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	max-width: 720px;
}
.description3 {
  	width: 100%;
  	position: relative;
  	font-size: 18px;
  	line-height: 28px;
  	color: #45484f;
  	display: inline-block;
  	max-width: 720px;
}
.header1 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 16px;
}
.section-header-middle {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
}
.dollar-circle-icon {
  	width: 32px;
  	position: relative;
  	height: 32px;
  	overflow: hidden;
  	flex-shrink: 0;
  	object-fit: cover;
}
.feature-icon {
  	border-radius: 999px;
  	background-color: #f4f2fe;
  	border: 1px solid #dcd5fd;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 16px;
}
.heading2 {
  	align-self: stretch;
  	position: relative;
  	line-height: 30px;
  	font-weight: 600;
}
.supporting-text {
  	align-self: stretch;
  	position: relative;
  	font-size: 16px;
  	line-height: 24px;
  	color: #45484f;
}
.content1 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 8px;
}
.assetsfeature-sectionfeature {
  	align-self: stretch;
  	flex: 1;
  	box-shadow: 0px 1px 2px rgba(13, 16, 23, 0.06);
  	border-radius: 8px;
  	background-color: #fff;
  	border: 1px solid #e0e3e6;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 24px;
  	gap: 48px;
}
.features {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 32px;
  	font-size: 20px;
}
.container3 {
  	width: 100%;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 0px 32px;
  	box-sizing: border-box;
  	gap: 64px;
  	max-width: 1280px;
}
.section-properties {
  	width: 1440px;
  	background-color: #fff;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 96px 0px;
  	box-sizing: border-box;
}
.page-builder1 {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	z-index: 8;
}
.badge {
  	width: 75px;
  	border-radius: 999px;
  	background-color: #d8f9e1;
  	height: 32px;
  	display: none;
}
.eyebrow-primary {
  	width: 720px;
  	position: relative;
  	line-height: 24px;
  	font-weight: 500;
  	display: none;
}
.eyebrow-gray {
  	width: 560px;
  	position: relative;
  	line-height: 24px;
  	font-weight: 500;
  	color: #61646b;
  	display: none;
}
.heading6 {
  	align-self: stretch;
  	position: relative;
  	font-size: 36px;
  	line-height: 44px;
  	font-weight: 600;
  	color: #0d1017;
}
.heading-and-subheading1 {
  	width: 100%;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 12px;
  	max-width: 720px;
}
.assetspricing-sectionswitch- {
  	width: 342px;
  	border-radius: 999px;
  	background-color: #f7f7f8;
  	height: 48px;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: none;
}
.assetspricing-sectionswitch {
  	width: 289px;
  	height: 32px;
  	display: none;
}
.assetscheckbox-radio-toggl {
  	width: 20px;
  	position: relative;
  	border-radius: 999px;
  	background-color: #fff;
  	border: 1px solid #c9cdd2;
  	box-sizing: border-box;
  	height: 20px;
}
.input {
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 2px 0px;
}
.text {
  	position: relative;
  	line-height: 24px;
  	font-weight: 500;
}
.label-with-support-text {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.radio {
  	border-radius: 6px;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 12px;
}
.thumb {
  	position: absolute;
  	height: 50%;
  	width: 50%;
  	top: 25%;
  	right: 25%;
  	bottom: 25%;
  	left: 25%;
  	border-radius: 999px;
  	background-color: #fff;
  	overflow: hidden;
}
.assetscheckbox-radio-toggl1 {
  	width: 20px;
  	position: relative;
  	border-radius: 999px;
  	background-color: #8a5bf4;
  	height: 20px;
  	overflow: hidden;
  	flex-shrink: 0;
}
.save-29 {
  	color: #6d28d9;
}
.radio-group {
  	display: none;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 32px;
  	text-align: left;
  	color: #272a31;
}
.tabs {
  	width: 1216px;
  	height: 40px;
  	display: none;
}
.button {
  	width: 196px;
  	box-shadow: 0px 1px 2px rgba(13, 16, 23, 0.06);
  	border-radius: 999px;
  	background-color: #fff;
  	border: 1px solid #c9cdd2;
  	box-sizing: border-box;
  	height: 48px;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: none;
}
.section-header-middle1 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 40px;
}
.heading7 {
  	align-self: stretch;
  	position: relative;
  	line-height: 38px;
  	font-weight: 600;
}
.heading-and-description {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 16px;
}
.button1 {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	gap: 10px;
}
.action {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	font-size: 16px;
  	color: #6d28d9;
}
.leading-content1 {
  	flex: 1;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 40px;
  	gap: 48px;
}
.desktop-9-icon {
  	position: absolute;
  	top: 34px;
  	left: 38px;
  	border-radius: 8px;
  	width: 211px;
  	height: 278.4px;
  	object-fit: cover;
}
.desktop-10-icon {
  	position: absolute;
  	top: 84px;
  	left: 211px;
  	border-radius: 8px;
  	width: 363px;
  	height: 267.1px;
  	object-fit: cover;
}
.desktop-7-icon {
  	position: absolute;
  	top: 271px;
  	left: 144px;
  	border-radius: 8.9px;
  	width: 346px;
  	height: 181.3px;
  	object-fit: cover;
}
.image {
  	width: 608px;
  	position: relative;
  	background-color: #fff;
  	height: 486px;
  	overflow: hidden;
  	flex-shrink: 0;
}
.section {
  	align-self: stretch;
  	box-shadow: 0px 1px 2px rgba(13, 16, 23, 0.06);
  	border-radius: 16px;
  	background-color: #fff;
  	overflow: hidden;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
}
.heading-and-description-wrapper {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.leading-content2 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 40px;
}
.image-13-icon {
  	position: absolute;
  	top: 36px;
  	left: 0px;
  	border-radius: 8.69px;
  	width: 518px;
  	height: 179.1px;
  	object-fit: cover;
}
.information-circle-icon {
  	width: 16px;
  	position: relative;
  	height: 16px;
  	overflow: hidden;
  	flex-shrink: 0;
  	object-fit: cover;
}
.label-parent {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 6px;
}
.label9 {
  	position: relative;
  	line-height: 16px;
  	font-weight: 500;
}
.badge1 {
  	border-radius: 999px;
  	background-color: rgba(16, 69, 29, 0.32);
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 2px 10px;
  	text-align: center;
  	font-size: 12px;
  	color: #40d86e;
}
.frame-group {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: space-between;
}
.amount {
  	position: relative;
  	line-height: 38px;
  	font-weight: 600;
}
.amount-and-badge {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	font-size: 30px;
  	color: #fff;
}
.frame-parent {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
  	gap: 8px;
}
.content5 {
  	position: absolute;
  	top: 0px;
  	left: 311px;
  	box-shadow: 0px 18px 22px -4px rgba(13, 16, 23, 0.08), 0px 8px 10px -6px rgba(13, 16, 23, 0.04);
  	border-radius: 8px;
  	background-color: #1b1e25;
  	width: 225px;
  	height: 93px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
  	padding: 16px 20px;
  	box-sizing: border-box;
}
.image-13-parent {
  	position: absolute;
  	top: 36px;
  	left: 39px;
  	width: 536px;
  	height: 215.1px;
}
.image1 {
  	width: 596px;
  	position: relative;
  	background-color: #fff;
  	height: 304px;
  	overflow: hidden;
  	flex-shrink: 0;
  	font-size: 14px;
  	color: #94979e;
}
.image-icon {
  	align-self: stretch;
  	flex: 1;
  	position: relative;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
  	object-fit: cover;
}
.section2 {
  	align-self: stretch;
  	flex: 1;
  	box-shadow: 0px 1px 2px rgba(13, 16, 23, 0.06);
  	border-radius: 16px;
  	background-color: #fff;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.image-16-icon {
  	position: absolute;
  	top: 18px;
  	left: 23px;
  	border-radius: 8px;
  	width: 377px;
  	height: 203px;
  	object-fit: cover;
}
.image-17-icon {
  	position: absolute;
  	top: 60px;
  	left: 218px;
  	border-radius: 8px;
  	width: 354px;
  	height: 207px;
  	object-fit: cover;
}
.image2 {
  	width: 596px;
  	position: relative;
  	background-color: #fff;
  	height: 304px;
  	overflow: hidden;
  	flex-shrink: 0;
}
.section3 {
  	flex: 1;
  	box-shadow: 0px 1px 2px rgba(13, 16, 23, 0.06);
  	border-radius: 16px;
  	background-color: #fff;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.image-11-icon {
  	position: absolute;
  	top: 63px;
  	left: 26px;
  	border-radius: 8.59px;
  	width: 340.5px;
  	height: 287.8px;
  	object-fit: cover;
}
.image-13-icon1 {
  	position: absolute;
  	top: 97.37px;
  	left: 225.78px;
  	border-radius: 8.59px;
  	width: 356.6px;
  	height: 324.6px;
  	object-fit: cover;
}
.features1 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 24px;
  	text-align: left;
  	font-size: 30px;
  	color: #0d1017;
}
.container4 {
  	width: 100%;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 0px 32px;
  	box-sizing: border-box;
  	gap: 64px;
  	max-width: 1280px;
}
.section-properties1 {
  	width: 1440px;
  	background-color: #f7f7f8;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 96px 0px;
  	box-sizing: border-box;
}
.page-builder2 {
  	background-color: #f7f7f8;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	z-index: 7;
  	font-size: 16px;
  	color: #6d28d9;
}
.heading-and-subheading2 {
  	width: 100%;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	max-width: 720px;
}
.description5 {
  	width: 100%;
  	position: relative;
  	font-size: 18px;
  	line-height: 28px;
  	color: #c9cdd2;
  	display: inline-block;
  	max-width: 720px;
}
.headphones-icon {
  	width: 24px;
  	position: relative;
  	height: 24px;
  	overflow: hidden;
  	flex-shrink: 0;
  	object-fit: cover;
}
.feature-icon4 {
  	border-radius: 999px;
  	background-color: rgba(75, 29, 146, 0.24);
  	border: 1px solid rgba(166, 138, 248, 0.24);
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 12px;
}
.amount1 {
  	align-self: stretch;
  	position: relative;
  	line-height: 44px;
}
.text3 {
  	align-self: stretch;
  	position: relative;
  	font-size: 16px;
  	line-height: 24px;
  	font-weight: 500;
  	color: #c9cdd2;
}
.assetsstatsstat-item {
  	flex: 1;
  	box-shadow: 0px 1px 2px rgba(13, 16, 23, 0.06);
  	border-radius: 8px;
  	background-color: #1b1e25;
  	border: 1px solid #1b1e25;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 32px;
  	gap: 40px;
}
.text6 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 8px;
}
.content6 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	gap: 24px;
}
.assetsbutton-groupcta-base4 {
  	width: 159px;
  	border-radius: 999px;
  	background-color: rgba(13, 16, 23, 0.08);
  	border: 1px solid rgba(148, 151, 158, 0.32);
  	box-sizing: border-box;
  	height: 48px;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: none;
}
.description6 {
  	align-self: stretch;
  	position: relative;
  	font-size: 14px;
  	line-height: 20px;
  	color: #c9cdd2;
  	text-align: center;
}
.button-group-group {
  	width: 420px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 12px;
  	text-align: left;
  	font-size: 16px;
}
.section-properties2 {
  	width: 1440px;
  	background-color: #03060d;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 96px 0px;
  	box-sizing: border-box;
  	gap: 48px;
}
.page-builder3 {
  	background-color: #03060d;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	z-index: 6;
  	color: #fff;
}
.heading13 {
  	align-self: stretch;
  	position: relative;
  	line-height: 28px;
  	font-weight: 600;
}
.supporting-text8 {
  	align-self: stretch;
  	position: relative;
  	font-size: 14px;
  	line-height: 20px;
  	color: #45484f;
}
.assetsfeature-sectionfeature4 {
  	flex: 1;
  	box-shadow: 0px 1px 2px rgba(13, 16, 23, 0.06);
  	border-radius: 8px;
  	background-color: #fff;
  	border: 1px solid #e0e3e6;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 32px;
  	gap: 20px;
}
.middle-content {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 24px;
}
.features2 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 24px;
}
.features-wrapper {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	text-align: left;
  	font-size: 18px;
}
.page-builder4 {
  	background-color: #f7f7f8;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	z-index: 5;
}
.image-57-icon {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 56px;
  	height: 56px;
  	object-fit: cover;
}
.avatar {
  	width: 56px;
  	position: relative;
  	border-radius: 279.72px;
  	background-color: #fff;
  	height: 56px;
  	overflow: hidden;
  	flex-shrink: 0;
}
.heading-parent {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 12px;
}
.assetsfeature-sectionfeature10 {
  	align-self: stretch;
  	flex: 1;
  	box-shadow: 0px 1px 2px rgba(13, 16, 23, 0.06);
  	border-radius: 8px;
  	background-color: #fff;
  	border: 1px solid #e0e3e6;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 32px;
}
.avatar-icon {
  	width: 56px;
  	position: relative;
  	border-radius: 279.72px;
  	height: 56px;
  	overflow: hidden;
  	flex-shrink: 0;
  	object-fit: cover;
}
.image-55-icon1 {
  	position: absolute;
  	top: 0px;
  	left: -7.28px;
  	width: 72.8px;
  	height: 72.8px;
  	object-fit: cover;
}
.assetsfeature-sectionfeature14 {
  	width: 389.3px;
  	box-shadow: 0px 1px 2px rgba(13, 16, 23, 0.06);
  	border-radius: 8px;
  	background-color: #fff;
  	border: 1px solid #e0e3e6;
  	box-sizing: border-box;
  	height: 192px;
  	overflow: hidden;
  	display: none;
}
.features3 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	text-align: left;
  	font-size: 18px;
}
.who-benefits-from-us {
  	background-color: #fff;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	z-index: 4;
}
.description9 {
  	width: 100%;
  	position: relative;
  	font-size: 18px;
  	line-height: 28px;
  	display: inline-block;
  	max-width: 720px;
}
.text10 {
  	flex: 1;
  	position: relative;
  	line-height: 24px;
}
.input2 {
  	align-self: stretch;
  	border-radius: 999px;
  	background-color: #fff;
  	border: 1px solid #c9cdd2;
  	overflow: hidden;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 10px 14px;
  	gap: 8px;
}
.text-input {
  	flex: 1;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.text-input-parent {
  	flex: 1;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 16px;
}
.button3 {
  	box-shadow: 0px 1px 2px rgba(13, 16, 23, 0.06);
  	border-radius: 999px;
  	background-color: #0d1017;
  	height: 44px;
  	overflow: hidden;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 10px 20px;
  	box-sizing: border-box;
  	color: #fff;
}
.form-fields {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 16px;
  	z-index: 0;
}
.feature-icon8 {
  	border-radius: 999px;
  	background-color: #f4f2fe;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 16px;
}
.icon-wrapper {
  	border-radius: 999px;
  	background-color: #fff;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 20px;
}
.title {
  	align-self: stretch;
  	position: relative;
  	line-height: 32px;
  	font-weight: 600;
}
.text15 {
  	align-self: stretch;
  	position: relative;
  	line-height: 24px;
}
.text14 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 4px;
  	font-size: 16px;
  	color: #45484f;
}
.text13 {
  	width: 432px;
  	display: none;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 16px;
}
.title-wrapper {
  	width: 432px;
  	margin: 0 !important;
  	position: absolute;
  	top: -52px;
  	left: 64px;
  	display: none;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 4px;
  	z-index: 1;
  	text-align: center;
  	font-size: 24px;
  	color: #0d1017;
}
.form {
  	align-self: stretch;
  	filter: drop-shadow(0px 1px 2px rgba(13, 16, 23, 0.06));
  	border-radius: 16px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 32px;
  	position: relative;
  	gap: 24px;
  	text-align: left;
  	font-size: 16px;
  	color: #61646b;
}
.container8 {
  	width: 100%;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 0px 32px;
  	box-sizing: border-box;
  	gap: 16px;
  	max-width: 1280px;
}
.contact-section {
  	width: 1440px;
  	background-color: #8a5bf4;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 56px 0px;
  	box-sizing: border-box;
  	z-index: 3;
  	color: #fff;
}
.background1 {
  	width: 100%;
  	position: absolute;
  	margin: 0 !important;
  	height: 100%;
  	top: 0%;
  	right: 0px;
  	bottom: 0%;
  	left: 0px;
  	background-color: #f7f7f8;
  	overflow: hidden;
  	z-index: 0;
}
.description11 {
  	align-self: stretch;
  	position: relative;
  	font-size: 14px;
  	line-height: 22px;
  	color: #45484f;
}
.avatar-base-icon {
  	align-self: stretch;
  	flex: 1;
  	position: relative;
  	border-radius: 999px;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
  	object-fit: cover;
}
.avatar3 {
  	width: 48px;
  	height: 48px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
}
.support-text {
  	position: relative;
  	font-size: 14px;
  	line-height: 20px;
  	color: #61646b;
}
.text17 {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
}
.avatar-with-sided-text {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 12px;
}
.avatar-and-rating {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	font-size: 16px;
  	color: #272a31;
}
.assetstestimonial-sectiontes {
  	flex: 1;
  	box-shadow: 0px 12px 18px -6px rgba(13, 16, 23, 0.08), 0px 4px 8px -4px rgba(13, 16, 23, 0.04);
  	border-radius: 8px;
  	background-color: #fff;
  	border: 1px solid #e0e3e6;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 24px;
  	gap: 32px;
  	z-index: 0;
}
.assetstestimonial-sectiontes1 {
  	align-self: stretch;
  	flex: 1;
  	box-shadow: 0px 12px 18px -6px rgba(13, 16, 23, 0.08), 0px 4px 8px -4px rgba(13, 16, 23, 0.04);
  	border-radius: 8px;
  	background-color: #fff;
  	border: 1px solid #e0e3e6;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: space-between;
  	padding: 24px;
  	z-index: 1;
}
.assetstestimonial-sectiontes2 {
  	align-self: stretch;
  	flex: 1;
  	box-shadow: 0px 12px 18px -6px rgba(13, 16, 23, 0.08), 0px 4px 8px -4px rgba(13, 16, 23, 0.04);
  	border-radius: 8px;
  	background-color: #fff;
  	border: 1px solid #e0e3e6;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: space-between;
  	padding: 24px;
  	z-index: 2;
}
.assetscarouselcontrols {
  	margin: 0 !important;
  	position: absolute;
  	top: 103px;
  	left: -32px;
  	border-radius: 99px;
  	background-color: #fff;
  	border: 1px solid #e0e3e6;
  	overflow: hidden;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 12px;
  	z-index: 3;
}
.assetscarouselcontrols1 {
  	margin: 0 !important;
  	position: absolute;
  	top: 103px;
  	left: 1200px;
  	border-radius: 99px;
  	background-color: #fff;
  	border: 1px solid #e0e3e6;
  	overflow: hidden;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 12px;
  	z-index: 4;
}
.content17 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 0px 48px;
  	position: relative;
  	gap: 24px;
  	text-align: left;
  	font-size: 18px;
  	color: #0d1017;
}
.container9 {
  	width: 100%;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 0px 32px;
  	box-sizing: border-box;
  	gap: 64px;
  	max-width: 1280px;
  	z-index: 1;
}
.section-properties5 {
  	width: 1440px;
  	background-color: #fff;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 96px 0px;
  	box-sizing: border-box;
  	position: relative;
}
.page-builder5 {
  	background-color: #f7f7f8;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	z-index: 2;
  	font-size: 16px;
  	color: #6d28d9;
}
.section-header-middle5 {
  	width: 100%;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	max-width: 768px;
}
.header-text {
  	flex: 1;
  	position: relative;
  	line-height: 20px;
  	font-weight: 500;
}
.trigger {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 16px 20px;
  	gap: 16px;
}
.naoma-is-an {
  	margin: 0;
}
.content22 {
  	align-self: stretch;
  	position: relative;
  	line-height: 20px;
}
.content21 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 8px 60px 20px 20px;
  	color: #45484f;
}
.assetsaccordionitem-1 {
  	align-self: stretch;
  	border-top: 1px solid #e0e3e6;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.business-owners-ceo {
  	margin-bottom: 0px;
}
.business-owners-ceo-founder {
  	margin: 0;
  	font-family: inherit;
  	font-size: inherit;
  	padding-left: 19px;
}
.assetsaccordionitem-2 {
  	width: 768px;
  	border-top: 1px solid #e0e3e6;
  	box-sizing: border-box;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.button4 {
  	border-radius: 999px;
  	background-color: #fff;
  	border: 1px solid #c9cdd2;
  	overflow: hidden;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 10px 20px;
  	gap: 8px;
  	color: #272a31;
}
.content37 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 8px 60px 20px 20px;
  	gap: 20px;
  	color: #45484f;
}
.assetsaccordionitem-6 {
  	width: 768px;
  	border-top: 1px solid #e0e3e6;
  	box-sizing: border-box;
  	height: 52px;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: none;
}
.accordion-group {
  	width: 768px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	text-align: left;
  	font-size: 14px;
}
.page-builder6 {
  	background-color: #fff;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	z-index: 1;
}
.social-icons {
  	width: 20px;
  	position: relative;
  	height: 20px;
  	overflow: hidden;
  	flex-shrink: 0;
}
.assetsfootersocial-link {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 2px;
}
.social-links {
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 16px;
  	z-index: 1;
}
.text20 {
  	position: relative;
  	line-height: 24px;
}
.assetsfootertext-link {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
}
.links {
  	margin: 0 !important;
  	position: absolute;
  	top: 4px;
  	left: calc(50% - 190px);
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 48px;
  	z-index: 2;
}
.content39 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: space-between;
  	position: relative;
}
.text-parent {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 24px;
}
.copyright {
  	align-self: stretch;
  	border-top: 1px solid #1b1e25;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: space-between;
  	padding: 32px 0px 0px;
}
.container11 {
  	width: 100%;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 0px 32px;
  	box-sizing: border-box;
  	gap: 32px;
  	max-width: 1280px;
}
.section-properties7 {
  	width: 1440px;
  	background-color: #1b1e25;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 64px 0px;
  	box-sizing: border-box;
}
.page-builder7 {
  	background-color: #1b1e25;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	z-index: 0;
  	text-align: left;
  	font-size: 16px;
  	color: #94979e;
}
.main-page {
  	position: relative;
  	width: 100%;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	text-align: center;
  	font-size: 36px;
  	color: #0d1017;
  	font-family: Inter;
}

